body {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  overflow-x: hidden;
}

/* Коло */
.circle {
  position: absolute;
  width: 324px;
  height: 312px;
  top: 189px;
  left: 931px;
  opacity: 1;
}

/* Овал 1 */
.oval1 {
  position: absolute;
  width: 180px;
  height: 72px;
  top: 556px;
  left: 1177px;
  opacity: 1;
}

/* Овал 2 */
.oval2 {
  position: absolute;
  width: 180px;
  height: 72px;
  top: 582px;
  left: 751px;
  opacity: 1;
}

/* Коло з вирізом */
.circle-cut {
  position: absolute;
  width: 324px;
  height: 312px;
  top: 512px;
  left: -162px;
  opacity: 1;
}

/* Червоні лінії */
.red-line {
  position: absolute;
  width: 1209px;
  height: 255.5px;
  top: 769px;
  left: 14px;
  opacity: 1;
}

/* Магазин */
.shop {
  position: absolute;
  width: 464px;
  height: 488px;
  top: 592px;
  left: 805px;
  opacity: 1;
}
